.top-buffer {
	margin-top: 20px;
}

.table-item {
	padding: 12px;
}

/* For small screen */
.striped :nth-child(even){
  background-color: rgba(0,0,0,0);
}
.striped :nth-child(odd){
  background-color: rgba(0,0,0,0.2);
}

.table-item-head {
    font-weight: bold;
}